@import './variables.scss';

@mixin defaultBorderedPanel {
  background-color: #fff;
  padding: $base-container-padding;
  border: $border;
  box-shadow: $border-box-shadow;
}

@mixin defaultPanel {
  background-color: #fff;
  padding: $base-container-padding;
}

* {
  box-sizing: border-box;
}

.base-container {
  @include defaultPanel;
  height: 100%;
}

.base-container-top-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.base-table {
  @include defaultPanel;
  height: 100%;
}

.sub-heading_date {
  padding-top: 0.25rem;
  color: $grey7;
}

.button-row {
  display: flex;

  button {
    margin-right: 0.5rem;
  }
}

.empty-state {
  height: 100%;
  box-sizing: border-box;
  padding: $base-container-padding;
  border: 3px dashed #e3e4e4;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.empty-state-header {
  margin-bottom: 1rem;
  color: #464e4e;
  font-size: 1.5rem;
  font-weight: 600;
}

.empty-state-desc {
  margin: 0 auto;
  color: #8e9494;
  line-height: 1.25rem;
}
