$grey0: rgba(203, 226, 226, 0.34);
$grey1: #fafbfb;
$grey2: #f7f8f8;
$grey3: #eeefef;
$grey4: #e0e2e2;
$grey5: #cbcfcf;
$grey6: #8c9393;
$grey7: #727979;
$grey8: #3e4c4c;
$grey9: #223030;
$grey10: #020303;

$border-color: $grey0;
$border: 1px solid $border-color;
$border-box-shadow: 0 1px 3px 0 $grey1;

$default-padding: 1rem;
$base-container-padding: 1rem;
